{% extends 'main/base.html' %}
{% load static %}

{% block title %}Homepage{% endblock title %}

{% block content %}
    <section class="home">
        <!-- <div class="home-title">
            <a href="#" class="home-btn">ALL PRODUCTS</a>
        </div> -->
        <div class="m-w-home">
            <a href="#" class="w-home">
                <img src="{% static 'img/women.png' %}" alt="">
                <h5>FOR WOMEN</h5>
            </a>
            <a href="#" class="m-home">
                <img src="{% static 'img/men.png' %}" alt="">
                <h5>FOR MEN</h5>
            </a>
        </div>
    </section>
{% endblock content %}