<!--C:\!project_site\eshop\manage.py runserver-->
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header> 
        <div class="header-div">
            <nav class="header-nav">
                <ul class="header-list">
                    <li>
                        <a href="/" class="nav-a">Home</a>
                    </li>
                    <li>
                        <a href="#" class="nav-a">Shop</a>
                    </li>

                </ul>
            </nav>
            <div class="header-logo">
                <a href="/"><img src="{% static 'img/logo.png' %}" alt="" class="main-logo"></a>
            </div>
            <div class="header-profile">
                <a href="/admin" class="login-button">Login</a>
            </div>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>