<!--C:\!project_site\eshop\manage.py runserver-->
{%load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <div class="header-div">
            <nav class="header-nav">
                <ul class="header-list">
                    <li>
                        <a href="/" class="nav-a">ДОМ</a>
                    </li>
                    <li>
                        <a href="/shop" class="nav-a">МАГАЗИН</a>
                    </li>
                </ul>
            </nav>
            <div class="header-profile">
                <div class="cart-profile">
                    {% with cart_quantity=cart|length %}
                        {% if cart_quantity > 0 %}
                            <p class="cart-quantity">{{ cart_quantity }}</p>
                        {% endif %}
                    {% endwith %}
                    <a href="{% url 'cart:cart_detail' %}"><img src="{% static 'img/cart.png' %}" alt="" class="cart-img"></a>
                </div>
                {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}" class="login-button">Профиль</a>
                    <a href="{% url 'users:logout' %}" class="login-button">Выход</a>
                {% else %}
                    <a href="{% url 'users:login' %}" class="login-button">Вход</a>
                {% endif %}
            </div>
        </div>
        <a href="/shop"><img src="{% static 'img/logo.png' %}" alt="" class="main-logo"></a>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <div class="gi-project">
            <a href="https://github.com/myshyak5/-project_site" target="git_blank">
                <img src="{% static 'img/git_project.png' %}" alt="" class="git-img">
            </a>
        </div>
    </footer>
</body>
</html>