{% extends 'main/base.html' %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}
    <div class="llist">
        <div class="sidebar">
            <h4>Категории</h4>
            <ul>
                <li>
                    <a href="{% if gender == 'Женский' %}{% url 'main:product_list_women' %}
                    {% elif gender == 'Мужской' %}{% url 'main:product_list_men' %}
                    {% else %}{% url 'main:product_list' %}{% endif %}">
                        <div {% if not category %}class="selected"{% endif %}>
                            {% if gender == 'Женский' %}<h6>Женская одежда</h6>
                            {% elif gender == 'Мужской' %}<h6>Мужская одежда</h6>
                            {% else %}<h6>Все</h6>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% for c in categories %}
                    <li>
                        <a href="{% if gender == 'Женский' %}{{ c.get_women_url }}
                        {% elif gender == 'Мужской' %}{{ c.get_men_url }}
                        {% else %}{{ c.get_absolute_url }}{% endif %}">
                            <div {% if category.slug == c.slug %}class="selected"{% endif %}><h6>{{ c.name }}</h6></div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main">
            <div class="main-title">
                {% if category %}<h4>{{ category.name }}</h4>{% else %}<h4>Вся одежда</h4>{% endif %}
            </div>
            <div class="product-list">
                <div class="items">
                    {% for product in products %}
                        <div class="item">
                            <a href="{{ product.get_absolute_url }}" class="item-card">
                                <div class="div-img">
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt=""
                                    class="card-img">
                                </div>
                                <h5 class="title-card">{{ product.name }}</h5>
                                {% if product.discount %}
                                    <div class="cart_discount">
                                        <p class="line">{{ product.get_formatted_price }}</p>
                                        <p>{{ product.sell_price }} RUB</p>
                                    </div>
                                {% else %}
                                    <p class="price">{{ product.get_formatted_price }} RUB</p>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}