{% extends 'main/base.html' %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}
    <div class="llist">
        <div class="sidebar">
            <h4>Categories</h4>
            <ul>
                <li>
                    <a href="{% if gender == 'female' %}{% url 'main:product_list_women' %}
                    {% elif gender == 'male' %}{% url 'main:product_list_men' %}
                    {% else %}{% url 'main:product_list' %}{% endif %}">
                        <div {% if not category %}class="selected"{% endif %}>All</div>
                    </a>
                </li>
                {% for c in categories %}
                    <li>
                        <a href="{% if gender == 'female' %}{{ c.get_women_url }}
                        {% elif gender == 'male' %}{{ c.get_men_url }}
                        {% else %}{{ c.get_absolute_url }}{% endif %}">
                            <div {% if category.slug == c.slug %}class="selected"{% endif %}>{{ c.name }}</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main">
            <div class="main-title">
                {% if category %}<h4>{{ category.name }}</h4>{% else %}<h4>Products</h4>{% endif %}
            </div>
            <div class="product-list">
                <div class="items">
                    {% for product in products %}
                        <div class="item">
                            <a href="{{ product.get_absolute_url }}" class="home-card">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" class="card-img">
                                <h5 class="title-card">{{ product.name }}</h5>
                                {% if product.discount %}
                                    <div class="cart_discount">
                                        <p class="line">{{ product.price }}</p>
                                        <p>{{ product.sell_price }} RUB</p>
                                    </div>
                                {% else %}
                                    <p class="price">{{ product.price }} RUB</p>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}